@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Signika Negative', sans-serif;
}
section{
	
	
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width:100%;
	background-image:url(1624.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:rgba(0,0,0,0.65);
	background-blend-mode: overlay;
	

}
.form-box{

	position: relative;
	width: 400px;
	height:450px;
	background:rgba(80, 21, 138,0.122);
	border: 2px solid #340266;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s ease ;
	box-shadow: 0 0 24px black;
}
.form-box:hover{
	box-shadow: 0 0 24px black,inset 0 0 16px black;
}
h2{
	font-size: 2em;
	color: white;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Rubik Vinyl', cursive;
	text-shadow: 0 0 20px black;
}
.inputbox{
	position: relative;
	margin:30px 0;
	width: 310px;
	border-bottom:2px solid #fff;
	
}
.inputbox label{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	color: #fff;
	font-size: 1.1em;
	pointer-events: none;
	transition: 0.5s;
	font-family: 'Anek Bangla', sans-serif;
	letter-spacing: 2px;
}
input:focus ~ label,
input:valid ~ label{
	top: -5px;
}
.inputbox input{
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	padding:0 35px 0 5px;
	color: #fff;
	
}
.inputbox ion-icon{
	position: absolute;
	right: 8px;
	color: #fff;
	font-size: 1.2em;
	top: 20px;
	
}
.forget{
	margin: -15px 0 15px;
	font-size: .9em;
	color: #fff;
	display: flex;
	justify-content: center;
	
	
}
.forget label input{
	margin-right: 3px;
}

.forget label a{
	color: #fff;
	text-decoration: none;
	font-family: 'Anek Bangla', sans-serif;
	
}
.forget label a:hover{
	text-decoration:underline;
	
}
button{
	width: 100%;
	height: 40px;
	border-radius: 40px;;
	background: #fff;
	border: none;
	outline:none;
	cursor: pointer;
	font-size:1.2em;
	font-weight: 600;
	font-family: 'Anek Bangla', sans-serif;
	text-transform: capitalize;

	transition: 0.5s ease ;
}
button:hover{
	box-shadow: 0 0 20px;
}
.registar{
	font-size: .9em;
	color: #fff;
	text-align: center;
	margin: 25px 0 10px;
	font-family: 'Anek Bangla', sans-serif;
}
.registar p a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-family: 'Anek Bangla', sans-serif;
	letter-spacing: 1px;
	word-spacing: 2px;
}
.registar p a:hover{
	text-decoration: underline;
}












































